
# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# Logs
*.log
logs/

# Dependencies
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.swp
*.swo
